@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #150c1d;
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
